body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:999px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:999px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(128, 0, 128, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 0, 204, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 204, 0, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 51, 0, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:9px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:98px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:98px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:98px;
  width:102px;
  height:54px;
  font-size:14px;
  color:#000000;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:418px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:261px;
  width:447px;
  height:418px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:223px;
  width:107px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
